# Add any directories, files, or patterns you don't want to be tracked by version control
build/*
CMakeFiles/
*.o
*.tmp
*swp
CMakeCache.txt
*.so
*.dll
*.a
Makefile
*.sh
*.cmake
tags
libunr-test
.gdb_history
install_manifest.txt