# Add any directories, files, or patterns you don't want to be tracked by version control
build/*
.vs/*
*.user
CMakeFiles/
cmake_install.cmake
*.o
*.tmp
*swp
CMakeCache.txt
*.so
*.dll
*.a
*.lib
*.obj
*.tlog
*.pdb
*.idb
*.def
*.log
Makefile
*.sh
tags
libunr-test
.gdb_history
install_manifest.txt
deps/game-music-emu-0.6.2/build/gme/x64/
deps/game-music-emu-0.6.2/build/gme/x32/
deps/libvorbis-1.3.6/win32/VS2010/libvorbis/x64/
deps/libvorbis-1.3.6/win32/VS2010/libvorbis/x32/
deps/mpg123-1.25.13/ports\MSVC++/2015/win32/libmpg123/x64/
deps/mpg123-1.25.13/ports/MSVC++/2015/win32/libmpg123/x32/
deps/libopenmpt-0.5.0/build/obj/
deps/libvorbis-1.3.6/win32/VS2010/libvorbisfile/x64/
deps/libvorbis-1.3.6/win32/VS2010/libvorbisfile/x32/
deps/mpg123-1.25.13/ports/MSVC++/2015/win32/libmpg123/x64/
deps/mpg123-1.25.13/ports/MSVC++/2015/win32/libmpg123/x32/
